:root {
  --main-color: #7b4229;
  --light-brown-color: #b4754f;
  --light-background-color: #492515 ;
  --font-light-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", Helvetica, sans-serif;
}

header button {
  font-family: inherit;
  font-size: 1.4rem;
  padding: 0.3rem 1rem;
  background-color: var(--light-brown-color);
  border: 2px solid var(--main-color);
}

#content {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  background-color: var(--light-background-color);
}

header {
  text-align: center;
  padding-top: 0.8rem;

  /* Photo by Mike Kenneally on Unsplash*/
  background-image: url(/img/coffee-beans.jpg);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--font-light-color);
}

.titleBox {
  max-width: fit-content;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  padding: 0 5px;
  margin: 0.8rem auto;
}

.titleBox h1 {
  font-size: 3rem;
}

.mainContainer {
  text-align: center;
  background-color: var(--light-brown-color);
  width: 80%;
  margin: 2rem auto;
  border-radius: 10px;
}

footer {
  background-color: var(--main-color);
  text-align: center;
  padding: 0.8rem;
  font-size: 1.3rem;
}
